body, html {
    height: 100%;
  }
  
 

/*.column {
    float: left;
    width: 50%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  } */
 
  #bgimg1 {
    background: black url(./assets/Baseball-background1.jpeg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}
  
  .wrapper {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 1fr 1fr;
      
      
      
    }
  
    .box {
      background-color: #000;
      color: #fff;
      border-radius: 5px;
      padding: 20px;
      opacity: .5;
    }
  
    .a {
      grid-column: 1;
      grid-row: 1/span 2;
    }
    .b {
      grid-column: 2;
      grid-row: 1;
    }
    .c {
      grid-column: 2 ;
      grid-row: 2 ;
    }

    div {
        text-align: center;
    }